{% extends "base.html" %}

{% block title %}Create a study guide{% endblock title %}

{% block content %}

<h1 class="text-3xl font-bold">Create a study guide</h1>

<form method="post" class="mt-5" enctype="multipart/form-data">
    {% csrf_token %}
    <fieldset class="fieldset">
        <legend class="fieldset-legend">Name</legend>
        <input type="text" class="input" name="title" placeholder="My study guide" />
        <p class="fieldset-label">You can edit this later.</p>
    </fieldset>
    <input type="file" class="file-input" name="file">

    <div class="mt-3">
        <input class="btn btn-primary" type="submit" value="Create"></input>
    </div>
</form>
{% endblock content %}