{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
	<head>
    <title>{% block title %}{% endblock title %} - AI Study Guide</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		{% tailwind_css %}
	</head>

	<body>
		<div class="navbar bg-base-100 shadow-sm">
			<a class="btn btn-ghost text-xl">AI Study Guide</a>
		</div>
		<main class="max-w-[80ch] p-5 mx-auto">
			{% block content %}{% endblock content %}
		</main>
	</body>
</html>
